
@font-face {
    font-family: MKW;
    src: url('FOT-RodinNTLG Pro EB.otf') format('opentype');
}

body {
    margin: 0%;
    font-family: MKW;
    background: rgb(248, 255, 252);
}

header {
    background: indigo;
    text-shadow: 2px 2px 2px #000, -2px -2px 2px #000, 2px -2px 2px #000, -2px 2px 2px #000, 0px 2px 2px #000, 2px 0px 2px #000, 0px -2px 2px #000, -2px 0px 2px #000;
    display: flex;
    align-items: center;
    padding: 0 2%;
}

header>img {
    width: 10%
}

header>ul {
    list-style-type: none;
    display: flex;
    flex-wrap: nowrap;
}

header>ul>li {
    margin-right: 20%;
}

header>ul>li>a {
    color: #FFF;
    font-size: 1.5rem;
    text-decoration: none;
    transition: 0.5s;
}

header>ul>li>a:hover {
    color: #BBB;
}

.selected {
    color: #BBB;
}

.presentation {
    margin: 0 auto;
}

footer {
    background: #6cc0da;
}

footer>div {
    display: flex;
}

footer>div>h3 {
    display: flex;
    justify-content: center;
    width: 100%;
}

footer>div>ul {
    list-style-type: "- ";
}